* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

html{
    overflow-y: scroll;
}

body, html {
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Pozadí s reklamou */
.page-background {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px; /* Odsazení shora */
    background-image: url('img/content/background.webp'); /* Obrázek pro reklamu */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.background-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Zajišťuje, že je pod obsahem */
}

.content-container {
    position: relative;
    z-index: 2; /* Zajišťuje, že je nad odkazem */
    width: 55%; /* Šířka hlavního obsahu */
    max-width: 1200px;
    background-color: white;
    padding: 5px;
    margin: 0 auto; /* Zarovnání obsahu na střed */
    border-radius: 4px;
}

/* Hlavička */
header {
    background-color: #BA0305;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-top-right-radius: 5px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-bottom-section {
    background-color: #E8E8E8FF;
}

.header-bottom-section nav {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
}

.header-bottom-section nav a {
    padding-right: 20px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: small;
}

.header-bottom-section nav a:hover {
    color: #BA0305;
}

.logo {
    max-height: 50px;
    width: auto;
}

/* Tlačítko Můj účet */
.header-top-section button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

/* Vyhledávací pole */
.search-field {
    display: flex;
    align-items: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden;
    height: 30px; /* Nastavíme pevnou výšku pro vyhledávací pole */
}

.search-field input[type="text"] {
    border: none;
    padding: 8px;
    font-size: 14px;
    outline: none;
    flex: 1;
    height: 100%; /* Přizpůsobí výšku rodičovskému kontejneru */
    box-sizing: border-box; /* Zajistí, že padding nebude zvětšovat výšku */
}

.search-btn {
    background-color: rgb(235, 235, 235);
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    height: 30px; /* Zajistí stejnou výšku jako rodič */
    width: 40px; /* Nastaví šířku tlačítka na čtvercový tvar */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Odstraní vnitřní padding tlačítka */
}

.search-btn:hover {
    background-color: #E8E8E8FF;
}

.account-container {
    position: relative;
    display: inline-block;
}

.account-btn {
    background-color: #BA0305;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute;
    top: 100%; /* Position below the button */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 200px;
}

.dropdown-menu a, .dropdown-menu .control-panel {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu .control-panel {
    display: block;
    padding: 10px;
    color: black;
    background-color: #f1f1f1;
    text-decoration: none;
}

/* Submenu styl */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu span {
    display: block;
    cursor: pointer;
    color: #007dbd;
    font-weight: bold;
}

.dropdown-submenu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 150px;
}

.dropdown-submenu:hover .submenu {
    display: block;

}

.dropdown-submenu .submenu a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-submenu .submenu a:hover {
    background-color: #f1f1f1;
    color: #BA0305;
}


.account-btn .icon {
    margin-right: 5px;
    width: 20px;
    height: auto;
}

.account-btn:hover {
    background-color: white;
    color: #BA0305;
}

.account-btn:hover .icon {
    content: url('img/icons/accountBlack.png');
}

.search-icon {
    width: 18px;
    height: 18px;
}

.indexPage {
    padding: 20px 0; /* Pouze vertikální padding, aby se obsah vešel */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trailer {
    flex: 0 0 600px;
    margin-bottom: 20px;
}

.promo, .news, .tv-tips {
    margin-bottom: 20px;
}

.small-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px; /* Space between slider and small blocks */
    margin-bottom: 35px;
}

.small-block {
    height: 50%; /* Each block takes half of the remaining height */
    background-color: #e0e0e0; /* Placeholder for block content */
    margin-bottom: 10px; /* Space between the blocks */
}

.small-block:last-child {
    margin-bottom: 0; /* Remove margin from the last block */
}

.slides {
    position: relative;
    height: 400px; /* Define the height of the slides container */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slider {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
    position: relative;
    float: left;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #E8E8E8FF;
    color: #333333;
}

.description {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.slides img {
    width: 100%; /* Obrázek se přizpůsobí šířce slideru */
    height: 400px; /* Nastavte pevnou výšku pro všechny obrázky */
    object-fit: cover; /* Zachová poměr stran a přizpůsobí obrázek v rámci rozměrů */
    flex-shrink: 0;
}

.search-form-container h2 {
    background-color: rgb(232, 232, 232);
    padding: 8px;
    margin: 0 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    max-width: none; /* Ensure no width constraints */
    max-height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}


.trailer h2 {
    background-color: rgb(232, 232, 232);
    padding: 8px;
    margin: 0 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 600px; /* Keeps the width constrained */
    max-height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}




.promo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Mezera mezi dvěma promo boxy */
    width: 100%; /* Zajišťuje, že promo sekce zapadne do šířky main */
}

.promo-section {
    background-color: #f7f7f7;
    flex: 1 1 calc(50% - 10px); /* Šířka 50 % mínus polovina mezery */
    box-sizing: border-box; /* Zahrnuje padding do šířky */
    border-radius: 4px;
    border: solid 1px #e3e3e3;
}

.promo-section h3 {
    background-color: #E8E8E8FF;
    padding: 8px;
    margin: 0 0 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    font-weight: normal;
}

.promo-items {
    display: flex;
    justify-content: center;
}

.promo-items img {
    width: 80px;
    height: auto;
    padding: 5px;
}

.filter-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #BA0305;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.filter-btn:hover {
    color: white;
}

.filter-btn-img {
    margin-right: 10px;
    width: 20px; /* Adjust the size of the icon as needed */
    height: auto;
}

.filter-btn-txt {
    font-size: 14px;
}

/* Responzivní zobrazení promo sekcí pod sebou */
@media (max-width: 768px) {
    .promo {
        flex-direction: column;
    }
}

.tv-tips ul {
    list-style: none;
}

.tv-tips li {
    margin: 5px 0;
}

@media (max-width: 1065px) {
    .content-container {
        width: 80% !important;
    }

    .header-top-section nav {
        display: none;
    }

    .logo {
        max-height: 30px; /* Menší logo pro malé obrazovky */
    }
}

@media (max-width: 700px){
    .content-container {
        width: 100% !important;
    }
}

@media (max-width: 600px) {

    .header-top-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filter-btn, .account-btn {
        width: 100%;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .header-bottom-section {
        margin-top: 80px; /* Adjust the margin as needed */
    }

    .search-field {
        width: 70%;
    }
}

footer {
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin-top: 20px;
}

footer #datetime {
    color: grey;
    text-align: left;
}

footer #copy-info-footer{
    color: white;
}

footer #copy-info-footer a{
    color: #BA0305;
    text-decoration: none;
}

/* Grid Layout for Filters */
.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    margin-top: 20px;
}

/* Filter Column */
.filter-column {
    display: flex;
    flex-direction: column;
}

.filter-column:first-child{
    margin-left: 10px;
}

.filter-column:last-child{
    margin-right: 10px;
}

/* Filter Group Headings */
.filter-column h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 5px;
}

/* Form Actions */
.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background-color: #ba0305;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #900202;
}

.btn-reset:hover {
    background-color: #252525;
}

.btn-reset {
    background-color: #333;
    color: #f0f0f0;
}

.filterPage h1 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.filterPage {
    padding: 20px 0; /* Pouze vertikální padding, aby se obsah vešel */
    width: 100%;
    display: block;
}

label:hover, select:hover {
    cursor: pointer;
    color: #900202;
}

select {
    border-radius: 3px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1px;
    max-width: 100px;
}

label{
    padding: 2px;
    font-size: medium;
}

.filter-column input[type="text"]:focus{
    border: 1px solid #900202;
}

.filter-column input[type="text"]{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.filter-column p{
    padding: 5px;
}

.form-actions{
    border: 1px solid #ccc;
    background-color: rgb(232, 232, 232);
}

.lb-data .lb-caption {
    color: white; /* Upravit barvu textu */
    font-size: 16px;
    text-align: center;
}
