* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #b71c1c;
    color: white;
    padding: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px; /* Nastavíme výšku headeru pro lepší přehled */
}

.logo {
    max-height: 100%; /* Maximální výška přizpůsobená výšce headeru */
    width: auto; /* Automatická šířka pro zachování poměru stran */
    height: 100%; /* Výška loga přizpůsobená výšce headeru */
}

.header-container input {
    padding: 5px;
}

.header-container nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.header-container button {
    background-color: white;
    color: #b71c1c;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

.trailers, .promo, .news, .tv-tips {
    margin-bottom: 20px;
}

.trailer-container img {
    width: 100%;
    height: auto;
}

.promo-section {
    margin-bottom: 20px;
}

.promo-items img {
    width: 80px;
    margin: 0 5px;
}

.tv-tips ul {
    list-style: none;
}

.tv-tips li {
    margin: 5px 0;
} 

/* Responzivní úpravy pro logo */
@media (max-width: 768px) {
    .logo {
        height: 25px;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 20px;
    }

    .header-container nav {
        display: none; /* Skrytí navigace na menších obrazovkách */
    }
}

.search-field {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-field input[type="text"] {
    border: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

.search-btn {
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 18px; /* Přizpůsob velikosti ikony dle potřeby */
    height: 18px;
}

.logo
{
    max-height: fit-content;
}